.meu_bg {
    background-color: #0D0338;
    border-radius: 5px;
    
}
.meu_card {
    background-color: #0D0338;
    border-style: solid;
    border-color: rgb(241, 216, 100);
    border-radius: 5px;
}
.meu_bg2 {
    background-color: #181e75;
}